.textStyle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textStyle h1 {
  text-transform: uppercase;
  font-size: medium;
}

.textStyle p {
  text-align: justify;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.767);
}

@media only screen and (min-width: 768px) {
  .textStyle {
    width: 50%;
  }
}
