.imageLayer {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-position: top;
  background-size: 1300px;
}

.container {
  width: 100%;
  height: 70% !important;

  position: relative;
}

.imageLayer::after {
  content: "";

  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0.6) 90%
  );

  pointer-events: none;
}

.titlePosition {
  color: white;
  margin: 3%;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btnPlay {
  margin: 2rem;

  position: absolute;
  left: 0;
  bottom: 0;

  z-index: 4;
}

.btnPlay button {
  width: 15rem;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  border-radius: 4px;
  cursor: pointer;

  transition: all;
  transition-duration: 300ms;
}

.btnPlay button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.886);
  border: 0;
}

.titlePosition h1 {
  font-size: 3.2rem;
  letter-spacing: 3px;
}

.pLight p {
  cursor: pointer;

  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;

  color: rgba(255, 255, 255, 0.684);
}

.pLight span:hover {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  .btnPlay {
    display: none;
  }
}
