.cardContainer {
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  overflow: scroll;

  border-bottom: 5rem;

  gap: 15%;

  color: white;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}
