* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #07080a;
  font-family: "Nunito", sans-serif;
  height: 100% !important;
}

html,
#root {
  height: 100% !important;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
