.bg {
  width: 100%;
  height: auto;
  min-height: 30vh;

  display: flex;
  flex-direction: column;
  position: relative;
  gap: 6vh;

  z-index: 2;

  background: linear-gradient(to right, #13171a, black);
  box-shadow: 1px -80px 150px 1px black;

  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.spacingElements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
}

.textContainer p:hover {
  color: rgba(255, 255, 255, 0.593);
  transition: all;
  transition-duration: 200ms;
}

.textContainer {
  width: 90%;
  max-width: 100%;
  height: auto;

  overflow: scroll;
  display: flex;
  gap: 20%;
}

.textContainer::-webkit-scrollbar {
  display: none;
}

.arrowNav {
  color: white;
  font-size: 30px;
  cursor: pointer;

  position: absolute;
  display: none;

  margin-bottom: 500px;
  top: 65%;
  right: 0;
  transform: translate(-100%, -50%);
}

@media only screen and (min-width: 768px) {
  .textContainer {
    gap: 14%;
  }
}
